<h1>Artists</h1>
<ul>
<% @artists.each do |artist| %>
<p><%= link_to artist.name, artist_path(artist) %></p><br>
<p><%= artist.song_count %> song</p>
<% artist.songs.each do |song| %>
<li><%= song.title %></li>
<% end %>
<% end %>
</ul>